<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <button class="button button-clear"  ng-click="closeEditBasicDetails()">
            <i class="icon ion-ios-arrow-left"></i> Back
        </button>
        <div class="h1 title">Edit Basic Details</div>
        <button class="button button-assertive button-small"  type="submit" ng-click="updateUser(user,1)"> save </button>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset"> 
            <label class="item item-input item-stacked-label">
                <span class="input-label">Contact Name</span>
                <input type="text" placeholder="Contact Name" ng-model="user.contact_name" name="contact_name" required>
                <p ng-show="userForm.contact_name.$invalid" class="text-red">Name is required.</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Company Name</span>
                <input type="text" placeholder="Business Name" ng-model="user.company_name" name="company_name" required>
                <p ng-show="userForm.company_name.$invalid" class="text-red">Company name is required.</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email 1" ng-model="user.user_email" name="user_email" required readonly>
                <p ng-show="userForm.user_email.$invalid" class="text-red">Email is required.</p>
            </label>
        </div>
        
    </ion-content>
</ion-modal-view>
