<ion-view view-title="About">
	<ion-content class="about has-tabs-top" scroll="true">
		<div class="row">
			<div class="col col-50 col-offset-25">
				<img src="img/body/tbc-logo-bl.png" class="img-responsive">
			</div>
		</div>
		<div class="padding"> 
			<p class="text-center">
				The Business Club is made up of a professional and experienced group of individuals, all from successful business backgrounds. Our senior team consists of people from the world of Accounting, Legal Services, Services Supply, Supply Chain Management, Information Technology and Advertising. It’s a diverse mix, which has a unique (some say lively) dynamic, but one with the same goal, supporting better business! 
			</p>
			<p class="text-center">
				The concept of TBC [The Business Club] wasn’t to be a “me too” project and it’s not trying to be all things to all people. In my opinion it provides invaluable resources and access to help your business be more visible, more accessible to like-minded business owners and enjoy better buying. 
			</p>
			<p class="text-center">
				In our combined years in business, we have all struggled with some real challenges, we are sure you have had similar experiences and continue to do so. These range from not enough time in the day to complete basic tasks, to being always on the hunt for new customers and probably, but not intentionally, neglecting existing ones. Sound familiar? 
			</p>
			<p class="text-center">
				To be clear, TBC isn’t a comparison site trying to sell you something! We are a Club! 
			</p>
			<p class="text-center">
				We know that from day one, we have to spread the word about TBC – This is reflected in our motto “Together we are bigger, better and stronger” Help us grow! 
			</p>
			<p class="text-center">
				So what can TBC do for you and your business? Quite a lot actually!
			</p>
            
            
		</div>
            
      
	</ion-content>
</ion-view>
