<ion-view view-title="{{clubDetails.group_name}}">
     <ion-nav-title ng-click="scrollTop()" >
        How To
    </ion-nav-title>
    <ion-content class="has-tabs-top how-to-wrp" overflow-scroll="true">
        <ion-refresher on-refresh="doRefresh(clubDetails.id)" pulling-icon="ion-chevron-up" spinner="ripple"></ion-refresher>

        <div class="item card how-to">
            <h4>Connect</h4>
            <iframe 
                    width="100%" 
                    height="155" 
                    src="https://www.youtube.com/embed/BPxq-IngGcE" 
                    frameborder="0" allow="autoplay; encrypted-media" 
                    allowfullscreen>
            </iframe>
        </div>
        
        <div class="item card how-to">
            <h4>Place an Ad</h4>
            <iframe 
                    width="100%" 
                    height="155" 
                    src="https://www.youtube.com/embed/yWj4Gl1Cl0k" 
                    frameborder="0" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen>
            </iframe>
        </div>
        
        <div class="item card how-to">
            <h4>Edit an Ad</h4>
            <iframe 
                    width="100%" 
                    height="155" 
                    src="https://www.youtube.com/embed/9VhrI4xS24g" 
                    frameborder="0" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen>
            </iframe>
        </div>
        
        <div class="item card how-to">
            <h4>Post </h4>
            <iframe 
                    width="100%" 
                    height="155" 
                    src="https://www.youtube.com/embed/OuZmZgLcAVA" 
                    frameborder="0" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen>
            </iframe>
        </div>
        
        <div class="item card how-to">
            <h4>Share </h4>
            <iframe 
                    width="100%" 
                    height="155" 
                    src="https://www.youtube.com/embed/_PtzAmdpeGc" 
                    frameborder="0" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen>
            </iframe>
        </div>
        
        <div class="item card how-to">
            <h4>Swipe and share </h4>
            <iframe 
                    width="100%" 
                    height="155" 
                    src="https://www.youtube.com/embed/pB7H5OAMJvU" 
                    frameborder="0" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen>
            </iframe>
        </div>
        
        <div class="item card how-to">
            <h4>Message </h4>
            <iframe 
                    width="100%" 
                    height="155" 
                    src="https://www.youtube.com/embed/lK2XOvRsosE" 
                    frameborder="0" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen>
            </iframe>
        </div>
        
    </ion-content>
</ion-view>