<ion-view view-title="Enquiries">
	<ion-content  class="has-tabs-top">
		<div class="list manage-ads">
			<a class="item item-icon-left item-icon-right" ng-click="openNewAd()">
				<i class="icon ion-ios-cart"></i>
				Add Ads
				<i class="icon ion-ios-plus-empty"></i>
			</a>
			<a class="item item-icon-left item-icon-right" ng-click="getAdsEnqueries('complete')">
				<i class="icon ion-help"></i>
				Member Enquiries <!-- span class="badge badge-assertive"></span -->
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" ng-click="getMyEnqueries('complete')">
				<i class="icon ion-bag"></i>
				My Enquiries
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>