<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <button class="button button-clear" ng-click="closeChangePassword()">
            <i class="icon ion-ios-arrow-left"></i> Back
        </button>
        <div class="h1 title">Change Password</div>
    </ion-header-bar>
    <ion-content>
        <div class="padding"> 
            <h3 class="text-center">Change Password</h3>
            <div class="row">
                <div class="col">
                    <form name="changePassword">
                        <div class="list">
                            <label class="item item-input">
                                <input ng-model="data.newPassword"  ng-minlength="8" name="newPassword" type="password" placeholder="New Password" required>
                            </label>
                            <label class="item item-input">
                                <input ng-model="data.oldPassword" name="oldPassword" type="password" placeholder="Confirm Password">
                            </label>
                        </div>
						<div class="text-red" ng-show="changePassword.newPassword.$touched && changePassword.newPassword.$invalid">Use at least 8 characters.</div>
                        <div class="col-25 col-offset-75">
                            <button ng-disabled="(data.newPassword != data.oldPassword)" class="button button-calm button-block button-small" ng-click="userPasswordChange(data.newPassword, data.oldPassword)">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
